<h4 class="border-title p-2 rounded" i18n="Community - Online|Page with online players@@communityOnlineTitle">Online Players</h4>
<table>
	<thead>
		<tr>
			<th scope="col" i18n="Community - Online|Name header in table with online players@@communityOnlineTableNameHeader">Name</th>
			<th scope="col" i18n="Community - Online|Level header in table with online players@@communityOnlineTableLevelHeader">Level</th>
			<th scope="col" i18n="Community - Online|Last login header in table with online players@@communityOnlineTableLastLoginHeader">Last Login</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let player of playersOnline$ | async">
			<td><div class="outfit" [ngStyle]="{'background-image': 'url(' + getOutfit(player) + ')'}"></div>{{player.name}}</td>
			<td>{{player.level}}</td>
			<td>{{player.lastlogin | date: 'short'}}</td>
		</tr>
	</tbody>
</table>