<h5 class="border-title p-2 rounded" i18n="Community - Online|Page with online players@@communityOnlineTitle">Online Players</h5>
<table>
	<thead>
		<tr>
			<th scope="col" i18n="Community - Online|Name header in table with online players@@communityOnlineTableNameHeader">Name</th>
			<th scope="col" i18n="Community - Online|Level header in table with online players@@communityOnlineTableLevelHeader">Level</th>
			<th scope="col" i18n="Community - Online|Last login header in table with online players@@communityOnlineTableLastLoginHeader">Last Login</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let player of playersOnline">
			<td><div class="outfit" style="background-image: url(http://outfit-images.ots.me/animatedOutfits1090/animoutfit.php?id=128&addons=3&head=123&body=12&legs=23&feet=31&mount=0&direction=3)"></div>{{player.name}}</td>
			<td>{{player.level}}</td>
			<td>{{player.lastLogin | date: 'short'}}</td>
		</tr>
	</tbody>
</table>