.news-small {
	text-align: left;
	border: 1px solid #223819;

    h5 {
        text-align: center;
        background-color: #0c1f05;
    }

    li {
        background-color: #162c0d;

        .badge {
            margin-right: 10px;
        }
    }
}

.news-big-news {
    h3 {
        text-align: left;
    }

    .blockquote-footer {
        text-align: left;
        font-size: 12px;
    }
}