@import '../../global.scss';

.news-small {
	text-align: left;
	border: 1px solid $green-light;

    h5 {
        text-align: center;
        background-color: $bg-dark-green;
    }

    li {
        background-color: $bg-light-green;

        .badge {
            margin-right: 10px;
        }
    }
}

.news-big-news {
    h3 {
        text-align: left;
    }

    .blockquote-footer {
        text-align: left;
        font-size: 12px;
    }
}