@import '../global.scss';

.news-small {
	text-align: left;
	border: 1px solid $green-light;

    h4 {
        text-align: center;
        background-color: $bg-dark-green;
    }

    li {
        background-color: $bg-light-green;

        .badge {
            margin-right: 10px;
        }
    }
}

.news-big-news {
    h3 {
        text-align: left;
	}

    .blockquote-footer {
        font-size: 12px;
	}
	
	p {
		text-align: justify;
		padding-left: 10px;
		padding-right: 10px;
	}
}

:host ::ng-deep {
	.ui-paginator {
		background-color: $bg-dark-green;
		border: 1px solid $green-light;

		.ui-paginator-first, .ui-paginator-prev, .ui-paginator-next, .ui-paginator-last {
			&:hover{
				color: $green-bright !important;
				background-color: $green-light !important;
			}
		}

		.ui-paginator-page {
			color: white !important;
	
			&.ui-state-active {
				background-color: $green-light !important;
			}

			&:hover{
				color: $green-bright !important;
				background-color: $green-light !important;
			}
		}
	}
}