<div class="info-account center-text p-3 mb-3">
	<h5 class="center rounded border-title p-2" i18n="Account - Right main site panel|Account panel title@@accountPanelTitle">Account Panel</h5>
	<div *ngIf="!loginService.isLoggedIn()">
		<small>Test Accounts: user/user</small>
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text"><i class="fas fa-user"></i></div>
					</div>
					<input type="password" class="form-control" formControlName="login" i18n-placeholder="Account - Right main site panel|Account panel login placeholder@@accountPanelLoginPlaceholder" placeholder="Type your login..." required>
				</div>
				<app-error-message [control]="f.login"></app-error-message>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text"><i class="fas fa-key"></i></div>
					</div>
					<input type="password" class="form-control" formControlName="password" i18n-placeholder="Account - Right main site panel|Account panel password placeholder@@accountPanelPasswordPlaceholder" placeholder="Type your password..." required>
				</div>
				<app-error-message [control]="f.password"></app-error-message>
			</div>
			<button type="submit" class="btn" i18n="Account - Right main site panel|Account panel login submit button@@accountPanelLoginSubmitButton">Submit</button>
		</form>
		<div>
			<br/>
			<small id="login-small" class="form-text text-muted"><a routerLink="/register" i18n="Account - Right main site panel|Account panel register account link@@accountPanelRegisterLink">Don't have an account? Sign up!</a></small>
			<small id="password-small" class="form-text text-muted"><a routerLink="/recover" i18n="Account - Right main site panel|Account panel recovery account link@@accountPanelRecoveryLink">Forgot password or login? Recover it!</a></small>
		</div>
	</div>

	<div *ngIf="loginService.isLoggedIn()">
		<ul>
			<li><a routerLink="/account/details" i18n="Account - Right main site panel|Account panel account details title after login@@accountPanelAccountDetailsTitle">Account Details</a></li>
			<li><a routerLink="" data-toggle="modal" data-target="#create-character-modal" i18n="Account - Right main site panel|Account panel create character link@@accountPanelCreateCharacterLink">Create Character</a></li>
			<li i18n="Account - Right main site panel|Account panel refferals link@@accountPanelRefferalsLink">Refferals</li>
			<li><a routerLink="" (click)="onLogout()" i18n="Account - Right main site panel|Account panel logout link@@accountPanelLogoutLink">Logout</a></li>
		</ul>
	</div>
</div>

<!-- <app-create-character></app-create-character> -->