<nav class="navbar navbar-expand sticky-top">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Pokaż nawigację">
		<span class="navbar-toggler-icon"></span>
	</button>
	<span class="navbar-brand mb-0 h1">{{brand}}</span>
	<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" routerLink="/"><i class="fas fa-newspaper"></i> News <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/forum"><i class="fas fa-pencil-ruler"></i> Forum</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbar-community-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> Community</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" routerLink="/community/online" routerLinkActive="active">Who is online?</a>
					<a class="dropdown-item" routerLink="/community/guilds">Guilds</a>
					<a class="dropdown-item" routerLink="/community/gallery">Gallery</a>
					<a class="dropdown-item" routerLink="/community/support">Support</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbar-community-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book"></i> Library</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" routerLink="/library/rules">Rules</a>
					<a class="dropdown-item" routerLink="/library/faq">FAQ</a>
					<a class="dropdown-item" routerLink="/library/serverinfo">Server Informations</a>
					<a class="dropdown-item" routerLink="/library/download">Download</a>
					<a class="dropdown-item" routerLink="/library/achievements">Achievements</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbar-community-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-address-book"></i> Rankings</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" routerLink="/ranking/top">Top</a>
					<a class="dropdown-item" routerLink="/ranking/quests">Quests</a>
					<a class="dropdown-item" routerLink="/ranking/achievements">Achievements</a>
					<a class="dropdown-item" routerLink="/ranking/guilds">Guilds</a>
				</div>
			</li>
		</ul>
	</div>
	<form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="onSearch()">
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text"><i class="fas fa-search"></i></div>
			</div>
			<input class="form-control mr-sm-2" type="search" formControlName="name" placeholder="Character name..." aria-label="Serach">
		</div>
		<button class="btn my-2 my-sm-0" type="submit">Search</button>
	</form>
</nav>