@import '../../global.scss';

nav {
	background-color: $bg-darkest-green;
	border: 2px solid $green-light;
	border-radius: 5px;

	.nav-item {
		background-color: $bg-darkest-green;
	}

	.dropdown-menu {
		background-color: $bg-darkest-green;
		border: 1px solid $green-light !important;

		a:hover {
			background-color: $bg-light-green;
		}

		.active {
			background-color: $bg-light-green;
		}
	}
}