<div class="info">
	<div class="info-server shadow p-3 mb-3 bg-white rounded">
		<h5 class="center rounded bg-red">Server informations</h5>
		<ul>
			<li>Online: 0</li>
			<li>IP: example.com</li>
			<li>Client: 10.99</li>
			<li>Port: 7171</li>
		</ul>
	</div>

	<div class="info-account shadow p-3 mb-3 bg-white rounded">
		<h5 class="center rounded bg-red">Account Panel</h5>
		<form>
			<div class="form-group">
				<input type="password" class="form-control" id="login" aria-describedby="loginhelp" placeholder="Login">
				<small id="login-small" class="form-text text-muted"><a href="#">Don't have an account? Sign up!</a></small>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" id="password" placeholder="Password">
				<small id="password-small" class="form-text text-muted"><a href="#">Forgot password or login? Recover it!</a></small>
			</div>
			<button type="submit" class="btn btn-outline-primary">Submit</button>
		</form>
	</div>

	<div class="info-raid shadow p-3 mb-3 bg-white rounded">
		<h5 class="center rounded bg-red">Raids</h5>
		<ul class="list-group">
			<li class="list-group-item"><span class="badge badge-dark">16.12.2018</span> Immortal Boss</li>
			<li class="list-group-item"><span class="badge badge-dark">10.12.2018</span> Orcs</li>
			<li class="list-group-item"><span class="badge badge-dark">23.11.2018</span> Minotaurs</li>
		</ul>
	</div>
</div>