.info {
    width: 29%;
    float: right;

    ul {
        text-align: left;
    }
}

.info-raid {
    li {
		background-color: #162c0d;

        .badge {
            margin-right: 10px;
        }
    }
}