<h5 class="border-title p-2 rounded" i18n="Community - Guilds|Page with guilds on server@@communityGuildsTitle">Guilds</h5>
<table>
	<thead>
		<tr>
			<th scope="col" i18n="Community - Guilds|Name header in table with guilds@@communityGuildsTableNameHeader">Name</th>
			<th scope="col" i18n="Community - Guilds|Description header in table with guilds@@communityGuildsTableDescriptionHeader">Description</th>
			<th scope="col" i18n="Community - Guilds|Members header in table with guilds@@communityGuildsTableMembersHeader">Members</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let guild of guilds">
			<td>{{guild.name}}</td>
			<td>{{guild.description}}</td>
			<td>{{guild.members}}</td>
		</tr>
	</tbody>
</table>