<h5 class="border-title p-2 rounded">Guilds</h5>
<table>
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Members</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Example Guild</td>
			<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia.</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Example Guild</td>
			<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales finibus turpis, quis auctor magna bibendum mattis. Quisque quam justo, pulvinar at ipsum quis, ullamcorper.</td>
			<td>34</td>
		</tr>
		<tr>
			<td>Example Guild</td>
			<td></td>
			<td>7</td>
		</tr>
	</tbody>
</table>