<div class="info-admin p-3 mb-3" *ngIf="loginService.isLoggedIn() && permissionService.hasPermission('viewAdminPanel')">
	<h5 class="center rounded border-title p-2" i18n="Admin - Right site admin panel header|Admin panel title@@adminPanelTitle">Administration Panel</h5>
	<div>
		<ul>
			<li><a routerLink="" i18n="Admin - Link to overview|Admin panel overview link@@adminPanelOverviewLink">Overview</a></li>
			<li><a routerLink="" i18n="Admin - Link to reports|Admin panel reports link@@adminPanelReportsLink">Reports</a></li>
			<li i18n="Admin - Link to statistics|Admin panel statistics link@@adminPanelStatisticsLink">Statistics</li>
		</ul>
	</div>
</div>