@import '../../global.scss';

.info {
    width: 29%;
    float: right;

    ul {
		text-align: left;
    }
}

.info-raid {
    li {
		background-color: $bg-light-green;

        .badge {
            margin-right: 10px;
        }
    }
}