<div *ngIf="!player">
	<h5 class="border-title p-2 rounded" i18n="Player Info|Message player with specific name not exist@@playerInfoPlayerNotExistMessage">There is no player with that name!</h5>
</div>

<div *ngIf="player">
	<h5 class="border-title p-2 rounded" i18n="Player Info|Player informations title@@playerInfoTitle">Player Informations</h5>
	<table>
		<thead>
			<tr>
				<th scope="col" i18n="Player Info|Name header in table@@playerInfoNameHeader">Name</th>
				<th scope="col" i18n="Player Info|Sex header in table@@playerInfoSexHeader">Sex</th>
				<th scope="col" i18n="Player Info|Level header in table@@playerInfoLevelHeader">Level</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{player.name}}</td>
				<td>{{player.sex == 0 ? "Female" : "Male"}}</td>
				<td>{{player.level}}</td>
			</tr>
			<tr>
				<td i18n="Player Info|Health header in table@@playerInfoHealthHeader">Health</td>
				<td colspan="2">
					<div class="progress">
						<div class="progress-bar bg-danger" role="progressbar" [ngStyle]="getBarStyle('hp')">{{player.health}}/{{player.healthmax}}</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Mana</td>
				<td colspan="2">
					<div class="progress">
						<div class="progress-bar bg-info" role="progressbar" [ngStyle]="getBarStyle('mp')">{{player.mana}}/{{player.manamax}}</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Stamina</td>
				<td colspan="2">
					<div class="progress">
						<div class="progress-bar bg-success" role="progressbar" [ngStyle]="getBarStyle('stamina')">{{getStaminaTime()}} h</div>
					</div>
				</td>
			</tr>
			<tr>
				<td i18n="Player Info|Experience header in table@@playerInfoExperienceHeader">Experience</td>
				<td colspan="2">
					<div class="progress">
						<div class="progress-bar bg-warning" role="progressbar" [ngStyle]="getBarStyle('exp')">{{player.experience}}/{{getNextLevelExperience(player.level + 1)}}</div>
					</div>
				</td>
			</tr>
			<tr *ngIf="player.house !== ''">
				<td i18n="Player Info|House header in table@@playerInfoHouseHeader">House</td>
				<td colspan="2">{{player.house}}</td>
			</tr>
			<tr>
				<td i18n="Player Info|Town header in table@@playerInfoTownHeader">Town</td>
				<td colspan="2">{{player.town_id == 1 ? "Manantena" : "Example"}}</td>
			</tr>
			<tr>
				<td i18n="Player Info|Last login header in table@@playerInfoLastLoginHeader">Last Login</td>
				<td colspan="2">{{player.lastlogin | date: 'short'}}</td>
			</tr>
		</tbody>
	</table>

	<h5 class="border-title p-2 mt-5 rounded" i18n="Player Info|Skills header in table@@playerInfoSkillsHeader">Skills</h5>
	<table>
		<thead>
			<tr>
				<th scope="col">Magic Level</th>
				<th scope="col">Fist Fighting</th>
				<th scope="col">Club Fighting</th>
				<th scope="col">Sword Fighting</th>
				<th scope="col">Axe Fighting</th>
				<th scope="col">Distance Fighting</th>
				<th scope="col">Shielding</th>
				<th scope="col">Fishing</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{player.maglevel}}</td>
				<td>{{player.skill_fist}}</td>
				<td>{{player.skill_club}}</td>
				<td>{{player.skill_sword}}</td>
				<td>{{player.skill_axe}}</td>
				<td>{{player.skill_dist}}</td>
				<td>{{player.skill_shielding}}</td>
				<td>{{player.skill_fishing}}</td>
			</tr>
		</tbody>
	</table>

	<h5 class="border-title p-2 mt-5 rounded" i18n="Player Info|Deaths header in table@@playerInfoDeathsHeader">Deaths</h5>
	<table>
		<thead>
			<tr>
				<th scope="col" i18n="Player Info|Deaths date header in table@@playerInfoDeathsDateHeader">Date</th>
				<th scope="col" i18n="Player Info|Deaths level header in table@@playerInfoDeathsLevelHeader">Level</th>
				<th scope="col" i18n="Player Info|Deaths killed by header in table@@playerInfoDeathsKilledByHeader">Killed By</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let death of player.deaths; let i = index">
				<td *ngIf="i < 5">{{death.time | date: 'short'}}</td>
				<td *ngIf="i < 5">{{death.level}}</td>
				<td *ngIf="i < 5">{{death.killed_by}}</td>
			</tr>
		</tbody>
	</table>
</div>