<div class="news">
	<div class="news-small mb-4">
		<h5 class="list-group-item">What's new?</h5>
		<ul class="list-group">
			<li class="list-group-item"><span class="badge badge-light">16.12.2018</span> Raid list on website has been added. You can chceck what raids were on server.</li>
			<li class="list-group-item"><span class="badge badge-light">10.12.2018</span> We are planning to improve this website.</li>
			<li class="list-group-item"><span class="badge badge-light">23.11.2018</span> This is alpha stage of website.</li>
	</ul>
	</div>

	<div class="news-big">
		<div class="news-big-news">
			<h3 class="rounded p-2 pl-5 bg-red">Lorem Ipsum Dolor</h3>
			<blockquote class="blockquote">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non justo sed neque faucibus pulvinar malesuada sit amet orci. Nunc in nunc augue. Sed hendrerit, nisl et tincidunt pellentesque, diam metus lobortis risus, bibendum efficitur nibh dui vel quam. Integer faucibus maximus convallis. Suspendisse potenti. Ut sem velit, vehicula non purus nec, placerat blandit tortor. Duis tincidunt, turpis quis sodales placerat, lectus lacus vehicula enim, at dignissim arcu orci eget nibh. Aliquam erat volutpat. Morbi mattis ipsum ante. Nullam pharetra sem non sapien facilisis accumsan. Pellentesque et elit tortor. Proin justo libero, mollis et faucibus sit amet, molestie vitae augue.
			<footer class="blockquote-footer">Created by Administrator | 20.11.2018 12:34</footer>
			</blockquote>
		</div>
	</div>
</div>