/* You can add global styles to this file, and also import other style files */
body {
	text-align: center;
	background-color: #1c6dbf;
}

#footer {
    color: white;
}

.bg-red {
	padding: 5px;
	background-color: #bf1c1c;
	color: white;
}