/* You can add global styles to this file, and also import other style files */

/*
	Colors: darker -> brighter
	#051200, #0c1f05, #162c0d, #223819
*/

@import 'app/global.scss';

body {
	background-color: $bg-darkest-green;
	color: white;
}

.border-top {
	margin: auto;
	border-top: 1px solid $green-light !important;
}

.border-bottom {
	margin: auto;
	border-bottom: 1px solid $green-light !important;
}

.border-title {
	border-top: 1px solid $green-light !important;
	border-bottom: 1px solid $green-light !important;
	background-color: $bg-dark-green;
	text-align: center;
}

#footer {
	width: 60%;
	margin: auto;
	text-align: center;
}

form {
	input {
		background-color: $bg-darkest-green !important;
		border-color: $green-light !important;
		color: white !important;

		&::placeholder {
			color: grey;
		}

		&.ng-invalid.ng-touched {
			border: 1px solid rgb(99, 0, 0) !important;

			&::placeholder {
				color: rgb(175, 0, 0);
			}
		}
	}
}

.invalid-text {
	color: rgb(175, 0, 0);
}

.input-group-text {
	background-color: $bg-darkest-green;
	border: 1px solid $green-light;
}

a {
	color: $green-bright !important;

	&:hover {
		color: white !important;
	}
}

button {
	background-color: $bg-dark-green !important;
	border: 1px solid $green-light !important;
	color: $green-bright;

	&:hover {
		color: white;
		background-color: $green-light !important;
	}
}

table {
	text-align: center;
	width: 100%;
	padding: 3px;
	border: 1px solid $green-light;

	thead * {
		padding: 10px;
		border: 1px solid $green-light;
		background-color: $bg-dark-green;
	}

	tbody tr td{
		padding: 20px;
		border: 1px solid $green-light;
		background-color: $bg-light-green;
	}
}
