/* Coolors Exported Palette - coolors.co/bffff1-7cffcb-74f2ce-379634-0a3200 */

/* HSL */
$color1: hsla(167%, 100%, 87%, 1);
$color2: hsla(156%, 100%, 74%, 1);
$color3: hsla(163%, 83%, 70%, 1);
$color4: hsla(118%, 49%, 40%, 1);
$color5: hsla(108%, 100%, 10%, 1);

/* RGB */
$color1: rgba(191, 255, 241, 1);
$color2: rgba(124, 255, 203, 1);
$color3: rgba(116, 242, 206, 1);
$color4: rgba(55, 150, 52, 1);
$color5: rgba(10, 50, 0, 1);