<h5 class="border-title p-2 rounded" i18n="Account - Details|Account details title@@accountDetailsTitle">Account Informations</h5>
<table>
	<thead>
		<tr>
			<th colspan="2" i18n="Account - Details|Account details account details table@@accountDetailsTableTitle">Management</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td i18n="Account - Details|Account details email address@@accountDetailsEmailAddress">E-mail Address:</td>
			<td>email@example.com <button class="btn btn-sm float-right" i18n="Account - Details|Account details e-mail change button@@accountDetailsEmailAddressChangeButton">Change e-mail</button></td>
		</tr>
		<tr>
			<td i18n="Account - Details|Account details password@@accountDetailsPassword">Password:</td>
			<td>********** <button class="btn btn-sm float-right" i18n="Account - Details|Account details password change button@@accountDetailsPasswordChangeButton">Change password</button></td>
		</tr>
		<tr>
			<td i18n="Account - Details|Account details recovery code@@accountDetailsRecoveryCode">Recovery Code:</td>
			<td>None <button class="btn btn-sm float-right" i18n="Account - Details|Account details recovery code generate button@@accountDetailsRecoveryCodeGenerateButton">Generate recovery key</button></td>
		</tr>
		<tr>
			<td i18n="Account - Details|Account details creation date@@accountDetailsCreationDate">Creation Date:</td>
			<td>00/00/0000</td>
		</tr>
		<tr>
			<td i18n="Account - Details|Account details tibia coins amount@@accountDetailsTibiaCoinsAmount">Tibia Coins:</td>
			<td>0</td>
		</tr>
	</tbody>
</table>

<br/><br/>

<h5 class="border-title p-2 rounded" i18n="Account - Details|Account details character list title@@accountDetailsCharacterListTitle">Character List</h5>
<table>
	<thead>
		<tr>
			<th scope="col" i18n="Account - Details|Account details character list - name@@accountDetailsCharacterListName">Character Name</th>
			<th scope="col" i18n="Account - Details|Account details character list - level@@accountDetailsCharacterListLevel">Level</th>
			<th scope="col" i18n="Account - Details|Account details character list - creation date@@accountDetailsCharacterListCreationDate">Creation Date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Example Player</td>
			<td>1</td>
			<td>00/00/000</td>
		</tr>
	</tbody>
</table>