<h4 class="border-title p-2 rounded" i18n="Account - Details|Account details title@@accountDetailsTitle">Account Informations</h4>
<table>
	<thead>
		<tr>
			<th colspan="2" i18n="Account - Details|Account details account details table@@accountDetailsTableTitle">Management</th>
		</tr>
	</thead>
	<tbody *ngIf="(account$ | async) as account">
		<tr>
			<td i18n="Account - Details|Account details email address@@accountDetailsEmailAddress">E-mail Address:</td>
			<td>{{account.email}}</td>
		</tr>
		<tr>
			<td i18n="Account - Details|Account details password@@accountDetailsPassword">Password:</td>
			<td>**********</td>
		</tr>
		<tr>
			<td i18n="Account - Details|Account details recovery code@@accountDetailsRecoveryCode">Recovery Code:</td>
			<td>{{account.revoceryCode || "Not generated"}}</td>
		</tr>
		<tr>
			<td i18n="Account - Details|Account details creation date@@accountDetailsCreationDate">Creation Date:</td>
			<td>{{account.creationDate | date: 'short'}}</td>
		</tr>
		<tr>
			<td i18n="Account - Details|Account details tibia coins amount@@accountDetailsTibiaCoinsAmount">Tibia Coins:</td>
			<td>{{account.tibiaCoins}}</td>
		</tr>
		<tr>
			<td colspan="2">
				<button class="btn btn-sm mr-2" i18n="Account - Details|Account details e-mail change button@@accountDetailsEmailAddressChangeButton">Change e-mail</button>
				<button class="btn btn-sm mr-2" i18n="Account - Details|Account details password change button@@accountDetailsPasswordChangeButton">Change password</button>
				<button *ngIf="!account.recoveryCode" class="btn btn-sm" i18n="Account - Details|Account details recovery code generate button@@accountDetailsRecoveryCodeGenerateButton">Generate recovery key</button>
			</td>
		</tr>
	</tbody>
</table>

<br/><br/>

<h4 class="border-title p-2 rounded" i18n="Account - Details|Account details character list title@@accountDetailsCharacterListTitle">Character List</h4>
<table>
	<thead>
		<tr>
			<th scope="col" i18n="Account - Details|Account details character list - name@@accountDetailsCharacterListName">Character Name</th>
			<th scope="col" i18n="Account - Details|Account details character list - level@@accountDetailsCharacterListLevel">Level</th>
			<th scope="col" i18n="Account - Details|Account details character list - last login@@accountDetailsCharacterListLastLogin">Last Login</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let character of characters$ | async">
			<td>{{character.name}}</td>
			<td>{{character.level}}</td>
			<td>{{character.lastlogin | date: 'short'}}</td>
		</tr>
	</tbody>
</table>