<h5 class="border-title p-2 rounded">Account Informations</h5>
<table>
	<thead>
		<tr>
			<th colspan="2">Management</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>E-mail Address:</td>
			<td>email@example.com <button class="btn btn-sm float-right">Change e-mail</button></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td>********** <button class="btn btn-sm float-right">Change password</button></td>
		</tr>
		<tr>
			<td>Recovery Code:</td>
			<td>None <button class="btn btn-sm float-right">Generate recovery key</button></td>
		</tr>
		<tr>
			<td>Creation Date:</td>
			<td>00/00/0000</td>
		</tr>
		<tr>
			<td>Tibia Coins:</td>
			<td>0</td>
		</tr>
	</tbody>
</table>

<br/><br/>

<h5 class="border-title p-2 rounded">Character List</h5>
<table>
	<thead>
		<tr>
			<th scope="col">Character Name</th>
			<th scope="col">Level</th>
			<th scope="col">Creation Date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Example Player</td>
			<td>1</td>
			<td>00/00/000</td>
		</tr>
	</tbody>
</table>